* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
:root {
  --bg-color: #000;
  --text-color: #fff;
  --main-color: #28a6d4;
}
body {
  color: var(--text-color);
  /* min-height: 200rem; */
}
header {
  box-sizing: border-box;
  text-decoration: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  justify-content: space-between;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

header ul {
  margin-bottom: -1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo i {
  text-decoration: none;
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.navbar-navi {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.navbar-navi a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px 1.7rem;
  margin-top: auto;
  transition: all 0.5s ease;
  display: inline-block;
}

.navbar-navi a:hover,
.navbar-navi a.active{
  color: var(--main-color);
}


.navbar-navi a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--main-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-navi a:hover::after {
  transform: scaleX(0.7);
}

.navbar-extra div {
  color: var(--text-color);
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.navbar-extra div:hover {
  color: var(--main-color);
}

.p-10 {
  padding-top: 10px;
}
#hamburger-menu {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/img/h.jpg);
  background-position: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content .premium {
  color: var(--main-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
}
.content h1 {
  text-align: center;
  font-size: 2rem;
}

.search {
  padding: 3rem 9% 1.4rem;
  height: 100%;
  padding-bottom: 4rem;
  min-height: 50rem;
}
.search h1{
  color: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
}
.search h1 span, 
.service h1 span,
.testimonial h1 span{
  color: var(--main-color);
}
.search .row {
  display: flex;
}

.search .row .about-img {
  display: flex;
  flex: 1 1 35rem;
  justify-content: center;
  align-items: center;
}

.search .row .about-img img {
  width: 50%;
}

.search .row .content {
  flex: 1 1 35rem;
  padding: 1 1rem;
  display: flex;
  flex-direction: column;
}

.search .content h5 {
  color: var(--bg-color);
  text-align: start;
  padding-top: 2rem;
}

.search .content p {
  color: var(--bg-color);
}

.service{
  padding: 3rem 9% 1.4rem;
  background-color: #1d1d1c;
  padding-bottom: 3rem;
}

.service h1{
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.service p{
  text-align: center;
  max-width: 50rem;
  margin: auto;
}

hr{
  border: 1px solid var(--main-color);
  border-width: 3px;
  width: 15%;
  position: relative;
  margin: 20px auto;
}

.service .row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.service-card{
  text-align: center;
}

.service .row .service-card img{
  border-radius: 3%;
  border: 1px solid var(--text-color);
  width: 30%;
  margin: 15px 7px;
  transition: 1s ease;
  
}

.service .row .service-card img:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.gallery{
  padding: 3rem 9% 1.4rem;
  margin-bottom: 2rem;
}

.gallery h1{
  color: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin-bottom: 0rem;
  margin-top: 4rem;
}
.gallery .row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 0rem;
}

.gallery-card{
  text-align: center;
}

.gallery .row .gallery-card img{
  border-radius: 2%;
  width: 30%;
  margin: 10px 3px;
  -webkit-filter: brightness(100%);
}
.gallery .row .gallery-card img:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;  
}

.testimonial{
  padding: 4rem 9% 2rem;
  background-color: #1d1d1c;
}
 .testimonial h1{
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
 }

 .contact{
  min-height: 45rem;
  padding-top: 4rem;
 }

.container{
  width: 75%;
  padding: 45px;
  border-radius: 0;}

.container .row{
  box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;
}
.col-md-7{
  padding: 15px;
}

.col-md-5{
  background-color: var(--main-color);
  padding: 20px;
  color: white;
}

.d-flex i{
  font-size: 25px;
}

.d-flex p{
  font-size: 18px;
  padding-left: 18px;
}

.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}


/* Media Queries Responsive */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar-navi {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #000000;
    width: 18rem;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar-navi.active {
    right: 0;
  }

  .navbar-navi a {
    color: var(--text-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    align-items: flex-start;
  }

  .navbar-navi a::after {
    transform-origin: 0 0;
  }
  .navbar-navi a:hover::after {
    transform: scaleX(0.2);
  }

}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

}
